@import url(http://fonts.googleapis.com/css?family=Titillium+Web:200,300);
@import url(classes.css);

html {
	height: 100%;
}

body {
	height: 100%;
	background: url(../img/background.png) no-repeat center center fixed;
	background-size: cover;
	background-color: #d3d3d3;
}

header {
	margin: 0 75px;
	margin-bottom: 20px;
	position: relative;
}
header ul {
	width: 100%;
	list-style: none;
	border-bottom: 1px solid rgba(165,165,165,0.1);
}
header ul li {
	display: inline-block;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	font-size: 18px;
	height: 60px;
	line-height: 60px;
	float: left;
	opacity: 0.69;
	transition: all 200ms;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	-ms-transition: all 200ms;
}
header ul li.active,
header ul li:hover {
	opacity: 1;
}
header ul li a {
	display: block;
	height: 100%;
	padding: 0 15px;
	text-decoration: none;
	color: #000
}
header p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	font-weight: 200;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	line-height: 60px;
}
header p a {
	text-decoration: none;
	color: inherit;
}

@media screen and (max-width: 980px) {
	header .menu {
		width: 32px;
		height: 32px;
		position: fixed;
		top: 10px;
		left: 10px;
		background-image: url(../img/menu-MOB.png);
		background-size: 32px 32px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
	header ul {
		background-color: #ccc;
		position: fixed;
		top: 0px;
		left: -100%;
		z-index: 1001;
		transition: all 300ms;
		-webkit-transition: all 300ms;
		-moz-transition: all 300ms;
		-o-transition: all 300ms;
		-ms-transition: all 300ms;
	}
	header ul.open {
		left: 0px;
	}
	header ul li {
		display: block;
		width: 100%;
		font-size: 32px;
		text-align: center;
		height: 100px;
		line-height: 100px;
	}
	header p {
		display: none;
	}
}

article {
	min-height: 500px;
	min-height: calc(100% - 231px);
}
h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 32px;
	text-align: center;
	margin-bottom: 10px;
}
h3 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	text-align: center;
}


/*FOOTER*/
footer {
	margin-top: 30px;
	position: relative;
	background-color: #4a4a4a;
	height: 120px;
}
footer .copy {
	position: relative;
	margin: 0px 75px;
	height: 48px;
	border-bottom: 2px solid #6d6d6d;
}
footer .copy i.copy_icon {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0px;
	width: 120px;
	height: 46px;
	margin: 0 auto;
	margin-left: -60px;
	margin-bottom: -23px;
	background-color: #4a4a4a;
	background-image: url(../img/footer/copyright.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 38px 46px;
}
footer .flags {
	list-style: none;
	margin: 10px 75px;
}
footer .flags li {
	display: inline-block;
	float: left;
}
footer .flags li a {
	display: block;
	padding: 0px 15px;
}
footer .flags li a img {
	max-height: 50px;
}
footer .link {
	position: absolute;
	right: 75px;
	bottom: 10px;
}
footer .link a {
	color: #d3d3d3;
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	font-weight: 300;
	opacity: 0.5;
	transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
}
footer .link a:hover {
	opacity: 1;
}


/*GALLERY*/
#gallery_wrapper {
	margin: 50px auto;
}
#gallery {
	max-width: 1440px;
	margin: 0 auto;
}
#gallery .gallery_item {
	width: 480px;
	height: 320px;
	float: left;
	margin: 0px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-o-transition: all 400ms;
	-ms-transition: all 400ms;
}
#gallery .gallery_item.large {
	width: 100%;
	height: auto;
	margin-bottom: -3px;
}
#gallery .gallery_item:before {
	content: ' ';
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 0;
	background-image: url(../img/Zoom.png);
	background-size: 32px 32px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.6);
	transition: opacity 200ms;
	-webkit-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	-ms-transition: opacity 200ms;
}
#gallery .gallery_item.large:before {
	top: 10px;
	left: 10px;
	bottom: auto;
	right: auto;
	width: 32px;
	height: 32px;
	background-image: url(../img/Close.png);
	background-color: rgba(0,0,0,0);
}
#gallery .gallery_item:hover:before {
	opacity: 1;
}
#gallery .gallery_item img {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 1600px) {
	#gallery {
		max-width: 960px;
	}
	#gallery .gallery_item {
		width: 320px;
		height: 213px;
	}
}

@media screen and (max-width: 980px) {
	#gallery .gallery_item {
		width: 50%;
		height: auto;
		margin-top: -3px;
	}
}

@media screen and (max-width: 760px) {
	#gallery .gallery_item {
		width: 100%;
	}
}


/*CONTACT*/
#contact {
	height: 400px;
	width: 480px;
	padding-top: 50px;
	margin: 0px auto;
}
#contact form {
	width: 400px;
	margin: 0 auto;
	font-family: 'Titillium Web', sans-serif;
}
#contact form input[type="text"],
#contact form input[type="email"] {
	width: 100%;
}
#contact form textarea {
	width: 100%;
	height: 200px;
	resize: none;
}

a{}